@import '@/scss/_variable.scss';
@import '@/scss/_mixin.scss';

header {
  text-align: center;
  .district {
    border-right: 1px solid;
    padding-right: 0;
    border-right: 2px solid rgb(235, 235, 235);
  }
  .division {
    text-decoration: none;
    color: #8b00ff;
  }
}
a:not(.division) {
  color: black;
  text-decoration: none;
}
.video-img {
  width: 80%;
}
