@import '@/scss/_variable.scss';

.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 11.75rem auto;
}

.display-none {
  opacity: 0;
  transform: scaleX(0);
  transition: opacity ease 0.25s, transform ease 1s;
}

.background-0 {
  z-index: 5;
  color: white;
  font-size: larger;
  background-color: #{$base-purple};
  border: 3px solid #{$base-purple};
  transition: all ease 0.25s;
}

.background-1 {
  z-index: 4;
  color: white;
  background-color: #{$base-blue};
  border: 3px solid #{$base-blue};
  transition: all ease 0.25s;
}

.background-2 {
  z-index: 3;
  color: white;
  background-color: #{$base-red};
  border: 3px solid #{$base-red};
  transition: all ease 0.25s;
}

.background-3 {
  z-index: 2;
  color: white;
  background-color: #{$base-green};
  border: 3px solid #{$base-green};
  transition: all ease 0.25s;
}

.background-4 {
  z-index: 2;
  color: white;
  background-color: #{$base-yellow};
  border: 3px solid #{$base-yellow};
  transition: all ease 0.25s;
}

.timeline-card {
  margin: #{$base-margin};
  grid-column: 1/9;
  grid-row: 1/2;
  display: grid;
  grid-template-rows: #{$base-margin * 6 + $base-fontsize} #{$base-fontsize * 2.5} #{$base-fontsize * 4.25};
  user-select: none;
  transition: all ease 0.25s;

  .timeline-section {
    position: relative;
    margin: #{$base-margin * 4} #{$base-margin * 4} #{$base-margin * 2};
    transition: all ease 0.25s;

    .timeline-background-bar {
      width: 100%;
      position: absolute;
      height: #{$base-fontsize};
      background-color: #f3eeff;
      border-radius: #{$base-fontsize * 0.5};
      z-index: 3;

      .timeline-record {
        opacity: 1;
        visibility: visible;
        position: absolute;
        height: #{$base-fontsize};
        border-radius: #{$base-fontsize * 0.45};
        transition: all ease 0.25s;
        transform: scaleX(1.25);
      }

      .timeline-record:hover {
        z-index: 100;
        // height: 200%;
        border-radius: #{$base-fontsize * 0.4};
        border: 3px solid rgb(255, 255, 255, 0.2);
        transform: scaleX(1.4) scaleY(1.4);
        transition: all ease 0.25s;
        cursor: pointer;
        filter: brightness(110%);
      }
    }
  }

  .timestamp-section {
    display: flex;
    padding: 0 #{$base-padding * 2};
    font-size: #{$base-fontsize * 1};
    justify-content: space-between;
    color: #{$base-purple};
    font-weight: 400;

    span {
      transition: all ease 0.25s;
    }
  }

  .company-toggle-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    justify-items: start;

    .company-button {
      display: flex;
      width: 100%;
      height: 100%;
      font-size: #{$base-fontsize * 0.9};
      font-weight: 500;
      padding: #{$base-fontsize * 1.25} 0 #{$base-fontsize * 0.5};
      border: none;
      border-right: 1px solid #e3e3e3;
      text-align: center;
      justify-content: space-around;
      cursor: pointer;

      span:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .etc-button {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
    }

    .company-button:first-child {
      border-radius: 0 0 0 8px;
    }

    .company-button:last-child {
      border-right: 0px;
      border-radius: 0 0 8px 0;
      transition: all ease 0.25s;
    }

    .toggle-unselected:hover {
      background-color: #f3f3f3;
      transition: all ease 0.25s;
    }

    .toggle-selected {
      border-bottom: #{$base-fontsize * 0.5} solid white;
      box-shadow: 0px -12px 8px -8px hsla(0, 0, 0, 0.2) inset;
    }

    .selected-0 {
      color: #{$base-purple};
      border-bottom: #{$base-fontsize * 0.5} solid #{$base-purple};
    }

    .selected-1 {
      color: #{$base-blue};
      border-bottom: #{$base-fontsize * 0.5} solid #{$base-blue};
    }

    .selected-2 {
      color: #{$base-red};
      border-bottom: #{$base-fontsize * 0.5} solid #{$base-red};
    }

    .selected-3 {
      color: #{$base-green};
      border-bottom: #{$base-fontsize * 0.5} solid #{$base-green};
    }

    .selected-4 {
      color: #{$base-yellow};
      border-bottom: #{$base-fontsize * 0.5} solid #{$base-yellow};
    }
  }
}

.video-card {
  margin: #{$base-margin};
  grid-column: 1/9;
  grid-row: 2/3;

  .video-player-section {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background-color: black;
    border-radius: 8px 8px 0 0;
  }

  .video-info-section {
    padding: #{$base-padding * 2};
    font-size: #{$base-fontsize * 0.8};

    .video-title {
      font-size: #{$base-fontsize};
    }

    .video-small {
      margin-bottom: #{$base-margin * 2};
      display: flex;
      justify-content: space-between;
    }

    .video-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .video-channel {
        display: flex;
        margin: #{$base-margin * 2} 0 #{$base-margin * 2};
        align-items: center;
        cursor: pointer;

        .channel-avatar {
          margin-right: #{$base-margin * 2};
        }
      }

      .video-button {
        margin-left: #{$base-margin * 1.5};
      }

      .video-youtube-button {
        width: 40px;
        cursor: pointer;
      }
    }
  }
}

.recommend-video-card {
  font-size: #{$base-fontsize * 0.5};
  padding: #{$base-padding * 2};
  margin: #{$base-margin};
  grid-row: 1/3;
  grid-column: 9/13;
}
