@import '@/scss/_variable.scss';
@import '@/scss/_mixin.scss';

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6);
  width: 100%;
}

.all-exposure-chart-card {
  grid-column: 1/7;
  height: 400px;
  margin: #{$base-margin};
}

.ind-exposure-chart-section {
  grid-column: 7/13;
  margin: #{$base-margin};
}

.exposure-charts-section {
  grid-column: 1/13;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: #{$base-margin};
}

.ranking-section-card {
  grid-column: 1/13;
  margin: #{$base-margin};
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.rank_fr {
  text-align: center;
  margin-bottom: #{$base-margin * 5};
  .rank-title {
    display: flex;
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
    div {
      font-size: #{$base-fontsize * 1.2};
    }
    a {
      text-decoration: none;
    }
  }
}
.rank {
  img {
    border-radius: 50%;
  }
}
