@import '@/scss/_variable.scss';

@mixin transform($value) {
  -webkit-transform: ($value);
  -moz-transform: ($value);
  -ms-transform: ($value);
  transform: ($value);
}

@mixin transition($value) {
  -webkit-transition: ($value);
  -moz-transition: ($value);
  -ms-transition: ($value);
  transition: ($value);
}

@mixin shadow {
  border-radius: 8px;
  box-shadow: 0 3px 6px hsla(0, 0, 0, 0.15);
  background: #{$base-color};
}

@mixin chart-title {
  padding: #{$base-padding * 2} #{$base-padding * 2} #{$base-padding * 1};
  font-size: #{$base-fontsize * 1.2};
}

@mixin chart-body {
  width: 100%;
  padding: #{$base-padding * 4} #{$base-padding * 3} #{$base-padding * 3};
}
