@import '@/scss/_variable.scss';
@import '@/scss/_mixin.scss';

.fr {
  .fr-profile {
    .card {
      margin: #{$base-margin * 6} 0 #{$base-margin};
      padding: #{$base-margin * 2};
      .channel-header-container {
        height: 100%;
        display: flex;
        align-items: center;
        .img-fr {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          margin: 0 #{$base-margin * 6} 0 0;
          img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
          }
        }
        .inner-header-container {
          display: flex;
          flex: 1;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
  .chart-fr {
    margin: #{$base-margin * 6} 0 #{$base-margin};
    display: flex;
    .card {
      flex: 1;
      padding: #{$base-padding * 2};
      position: relative;
      .toggle {
        display: flex;
        span {
          flex: 1;
          text-align: center;
          cursor: pointer;
        }
      }
    }
  }
  .fr-youtube {
    margin: #{$base-margin * 6} 0 #{$base-margin};
    img {
      max-width: inherit;
    }
    .v-card__title {
      background: #f1f1f1;
      font-size: #{$base-fontsize};
      a {
        text-decoration: none;
        color: black;
      }
    }
    .views {
      background: #f1f1f1;
      padding: 0 16px;
      font-size: #{$base-fontsize * 0.5};
    }
  }
  .card {
    .data-title {
      color: black;
    }
  }
}

.none {
  visibility: hidden;
  position: absolute;
}
.visual {
  z-index: 1;
}
