.tit {
  font-size: 4.6rem;
  text-align: center;
  margin-top: 8rem;
}

.subtitle {
  font-size: 1.3rem;
  text-align: center;
}

.start-intro {
  margin-top: 1rem;
}

.start-intro2 {
  margin-top: 10rem;
  font-size: 3rem;
  text-align: center;
}

.cont10 {
  margin: 0 7%;
}
