@import './variable';

.background {
  transform: translateX(-12rem);
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#654a86, #534292);
  .Logo {
    position: relative;
    text-align: center;
    top: 12.5%;
    color: hsl(0, 0, 100);
    font-size: 2rem;
    margin: 0;
  }
  .signup {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 400px;
    background: hsl(0, 0, 100);
    border-radius: 10px;
    box-shadow: 0 3px 25px hsla(0, 0, 0, 0.2);
    display: flex;
    .signup-classic {
      width: 100%;
      padding: 30px 50px;
      h1 {
        text-align: center;
        color: #9378b1;
        font-size: 1.5rem;
      }
      .form {
        fieldset {
          border: none;
          padding: 0;
          margin: 20px 0;
          position: relative;

          input {
            width: 100%;
            height: 48px;
            color: hsl(0, 0, 20);
            padding: 15px 40px 15px 15px;
            border-radius: 5px;
            font-size: 14px;
            outline: none !important;
            border: 1px solid hsla(0, 0, 0, 0.3);
            box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);
            vertical-align: top;
          }
        }
        button {
          width: 100%;
          outline: none !important;
          border: none;
          text-transform: uppercase;
          font-weight: bold;
          box-shadow: 0 3px 0px hsla(86, 21%, 44%, 0.2);
          text-shadow: 0 2px 3px hsla(0, 0, 0, 0.2);
        }
        .btn {
          display: block;
          background: hsl(86, 76%, 71%);
          color: hsl(0, 0, 100);
          text-decoration: none;
          margin: 20px 0;
          padding: 15px 15px;
          border-radius: 5px;
          position: relative;
          background: linear-gradient(0.25turn, #79589f, #8f5899);
        }
      }
      fieldset::after {
        font-family: FontAwesome;
        position: absolute;
        right: 15px;
        top: 12px;
        z-index: 2;
        width: 20px;
        color: hsla(0, 0, 0, 0.2);
        text-align: center;
        color: #7c5ca1;
      }
      .email::after {
        content: '\f007';
      }

      fieldset.password::after {
        content: '\f023';
      }
    }
  }
}
