@import './variable';
@import './mixin';

.frame {
  .main1 {
    display: flex;
    flex-direction: column;
    .shadow {
      display: flex;
      align-items: center;
      @include shadow;
    }
    .title {
      margin: 2rem 0;
    }
    .frame {
      display: flex;
      justify-content: space-between;
      #wChart,
      #cLine {
        width: 45rem;
        padding: 2rem;
      }
      #wCircle,
      #cDoughnut {
        width: 25rem;
      }
      .rank_fr {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
