@import './variable';
@import './mixin';

.component {
  margin-top: 8px;
}
.chart-title {
  padding: #{$base-padding * 2} #{$base-padding * 2} #{$base-padding * 1};
  font-size: #{$base-fontsize * 1.2};
}
.rank_fr {
  text-align: center;
  margin-bottom: #{$base-margin * 5};
  .rank-title {
    display: flex;
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
    div {
      font-size: #{$base-fontsize * 1.2};
    }
    a {
      text-decoration: none;
    }
  }
}
