@import './variable';
@import './mixin';

.v-application--wrap {
  background-color: #f5f6fa;

  .app-main-grid {
    display: grid;
    grid-template-columns: 1fr 5.5fr;
  }

  .navbar {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(1turn, #4a509c, #8b4db5 70%);
    position: sticky;
    top: 0;
    height: 100vh;
    text-align: center;
    box-shadow: 0 3px 6px hsla(0, 0, 0, 0.15);

    div:first-child {
      display: grid;
      grid-gap: #{$base-fontsize};
      // flex-direction: column;

      .logo {
        align-self: center;
        font-size: #{$base-fontsize * 1.5};
        height: #{$base-fontsize * 5};
        line-height: #{$base-fontsize * 5};
        color: #{$base-color};
        text-decoration: none;
      }

      .searchbar {
        width: 100%;
        position: relative;
        padding: #{$base-padding};
        background-color: #{$base-color};

        .icon {
          position: absolute;
          left: #{$base-padding * 2.5};
          line-height: #{$base-fontsize * 2};
          color: #bdbdbd;
        }

        input {
          padding: 0 0 0 #{$base-padding * 5};
          width: 100%;
          height: #{$base-fontsize * 2};
          font-size: #{$base-fontsize * 0.7};
          outline: none;
        }
      }

      .menu {
        height: #{$base-fontsize * 3};
        line-height: #{$base-fontsize * 3};
        color: #{$base-color};
        text-decoration: none;
      }
    }
    .logout {
      width: 150px;
      // background-color: #{$base-purple};
      color: #{$base-color};
    }
  }

  .app-container {
    padding: #{$base-padding * 2};
  }
}
