@import './variable';

.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}

.display-none {
  opacity: 0;
  transition: opacity ease 0.25s;
}

.background-0 {
  z-index: 5;
  color: white;
  font-size: larger;
  background-color: #{$base-purple};
  border: 3px solid #{$base-purple};
  transition: all ease 0.25s;
}

.background-1 {
  z-index: 4;
  color: white;
  background-color: #{$base-blue};
  border: 3px solid #{$base-blue};
  transition: all ease 0.25s;
}

.background-2 {
  z-index: 3;
  color: white;
  background-color: #{$base-red};
  border: 3px solid #{$base-red};
  transition: all ease 0.25s;
}

.background-3 {
  z-index: 2;
  color: white;
  background-color: #{$base-green};
  border: 3px solid #{$base-green};
  transition: all ease 0.25s;
}

.timeline-card {
  margin: #{$base-margin};
  grid-column: 1/4;
  display: grid;
  grid-template-rows: #{$base-margin * 6 + $base-fontsize} #{$base-fontsize * 2.5} #{$base-fontsize * 4.25};
  user-select: none;
  transition: all ease 0.25s;

  .timeline-section {
    position: relative;
    margin: #{$base-margin * 4} #{$base-margin * 4} #{$base-margin * 2};
    transition: all ease 0.25s;

    .timeline-background-bar {
      width: 100%;
      position: absolute;
      height: #{$base-fontsize};
      background-color: #f3eeff;
      border-radius: #{$base-fontsize * 0.5};
      z-index: 3;
    }

    .timeline-record {
      position: absolute;
      height: #{$base-fontsize};
      border-radius: #{$base-fontsize * 0.5};
      transition: all ease 0.25s;
    }

    .timeline-record:hover {
      z-index: 100;
      border: 3px solid rgb(255, 255, 255, 0.2);
      transform: scaleX(1.2) scaleY(1.4);
      transition: all ease 0.25s;
      cursor: pointer;
      filter: brightness(110%);
    }
  }

  .timestamp-section {
    display: flex;
    padding: 0 #{$base-padding * 2};
    font-size: #{$base-fontsize * 1};
    justify-content: space-between;
    color: #{$base-purple};
    font-weight: 400;
  }

  .company-toggle-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    justify-items: start;

    .company-button {
      display: flex;
      width: 100%;
      height: 100%;
      font-size: #{$base-fontsize * 1};
      font-weight: 500;
      padding: #{$base-fontsize * 1.25} 0 #{$base-fontsize * 0.5};
      border: none;
      border-right: 1px solid #e3e3e3;
      text-align: center;
      justify-content: space-around;
      cursor: pointer;
    }

    .company-button:first-child {
      border-radius: 0 0 0 8px;
    }

    .company-button:last-child {
      border-right: 0px;
      border-radius: 0 0 8px 0;
      transition: all ease 0.25s;
    }

    .toggle-unselected:hover {
      background-color: #f3f3f3;
      transition: all ease 0.25s;
    }

    .toggle-selected {
      border-bottom: #{$base-fontsize * 0.5} solid white;
      box-shadow: 0px -12px 8px -8px hsla(0, 0, 0, 0.2) inset;
    }

    .selected-0 {
      color: #{$base-purple};
      border-bottom: #{$base-fontsize * 0.5} solid #{$base-purple};
    }

    .selected-1 {
      color: #{$base-blue};
      border-bottom: #{$base-fontsize * 0.5} solid #{$base-blue};
    }

    .selected-2 {
      color: #{$base-red};
      border-bottom: #{$base-fontsize * 0.5} solid #{$base-red};
    }

    .selected-3 {
      color: #{$base-green};
      border-bottom: #{$base-fontsize * 0.5} solid #{$base-green};
    }
  }
}

.video-card {
  margin: #{$base-margin};
  grid-column: 1/3;
  // height: 1000px;

  .video-player-section {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background-color: z;
    border-radius: 8px 8px 0 0;
  }

  .video-info-section {
    padding: #{$base-padding * 2};
    font-size: #{$base-fontsize * 0.8};

    p {
      margin-bottom: #{$base-margin * 2};
    }

    .video-title {
      font-size: #{$base-fontsize};
    }

    .video-small {
    }
  }
}

.recommend-video-card {
  font-size: #{$base-fontsize * 0.5};
  padding: #{$base-padding * 2};
  margin: #{$base-margin};
  grid-column: 3/4;

  header {
    font-size: #{$base-fontsize};
    margin-bottom: #{$base-margin};
  }

  hr {
    margin-bottom: #{$base-margin};
  }

  .recommend-list {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1.2fr;
    column-gap: #{$base-margin};
    margin-bottom: #{$base-margin};
    cursor: pointer;
  }

  .recommend-thumbnail {
    height: 100%;
    grid-column: 1/2;
  }

  .recommend-info {
    width: 100%;
    grid-column: 2/3;
  }
}
