@import '@/scss/_variable.scss';
@import '@/scss/_mixin.scss';

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 50px auto);
}

.all-exposure-chart-section {
  grid-row: 1/3;
  grid-column: 1/10;
  margin: #{$base-margin};
  grid-template-rows: repeat(2, 1fr);

  .chart-title {
    @include chart-title;
    grid-row: 1/2;
    grid-column: 1/10;
  }

  .chart-body {
    @include chart-body;
    grid-row: 2/3;
    grid-column: 1/10;
    display: grid;
    grid-template-columns: 1.3fr 1fr;

    .line-chart {
      // overflow-x: hidden;
    }

    .doughnut-chart {
      // overflow-x: hidden;
    }
  }
}

.ind-exposure-chart-section {
  grid-row: 3/5;
  grid-column: 4/13;
  margin: #{$base-margin};

  .chart-title {
    @include chart-title;
    grid-row: 3/4;
    grid-column: 4/13;
  }
  .chart-body {
    @include chart-body;
    grid-row: 4/5;
    grid-column: 4/13;
    display: grid;
    grid-template-columns: 1.3fr 1fr;

    .line-chart {
      // overflow: hidden;
    }

    .doughnut-chart {
      // overflow: hidden;
    }
  }
}

.channel-ranking-section {
  grid-row: 5/9;
  grid-column: 1/7;
  margin: #{$base-margin};

  .chart-title {
    @include chart-title;
    grid-row: 1/2;
    grid-column: 1/9;
  }

  .ranking-group {
    padding: #{$base-padding * 3};
    display: grid;
    width: 100%;
    height: 100%;
    // grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);

    .ranking-list {
      .ranking-title {
        display: flex;
        margin-bottom: #{$base-margin};
        justify-content: space-between;
        font-size: #{$base-fontsize};
      }

      a {
        left: 0;
      }

      .ranking-body {
        margin: #{$base-margin * 2} 0;
        display: grid;
        grid-template-rows: repeat(5, 1fr);

        .ranking-item {
          font-size: #{$base-fontsize * 0.6};
          margin-bottom: #{$base-margin * 3};
          color: gray;

          img {
            width: 25%;
            height: 25%;
            border-radius: 50%;
          }

          a {
            display: flex;
            color: black;
            text-decoration: none;

            .item-title {
              font-size: #{$base-fontsize * 0.8};
              margin-bottom: 4px;
              color: black;
            }
            div {
              width: 100%;
              margin-left: #{$base-margin};
            }

            p {
              width: 100%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              margin: 0;

              p:first-child {
                font-size: #{$base-fontsize * 1};
              }
            }
          }
        }
      }

      .ranking-footer {
        text-align: center;
      }
    }
  }
}

.recommand-channel-section {
  grid-row: 5/7;
  grid-column: 7/13;
  margin: #{$base-margin};

  .chart-title {
    @include chart-title;
    grid-row: 5/6;
    grid-column: 7/13;
  }

  .card {
    padding: #{$base-padding * 3};
    grid-row: 6/7;
    grid-column: 7/13;
  }
}

.recommand-video-section {
  grid-row: 7/9;
  grid-column: 7/13;
  margin: #{$base-margin};

  .chart-title {
    @include chart-title;
    grid-row: 7/8;
    grid-column: 7/13;
  }

  .card {
    padding: #{$base-padding * 3};
    grid-row: 8/9;
    grid-column: 7/13;
  }
}

.today-recommand-section {
  grid-row: 1/3;
  grid-column: 10/13;
  margin: #{$base-margin};

  .chart-title {
    @include chart-title;
    grid-row: 7/8;
    grid-column: 7/13;
  }

  .card {
    grid-row: 2/3;
    grid-column: 10/13;
    padding: #{$base-padding * 3};
    background: linear-gradient(1turn, #4a509c, #8b4db5 70%);
    color: white;
    overflow-y: hidden;
  }
}

.exposure-trend-section {
  grid-row: 3/5;
  grid-column: 1/4;
  margin: #{$base-margin};

  .chart-title {
    @include chart-title;
    grid-row: 3/4;
    grid-column: 1/4;
  }

  .card {
    grid-row: 4/5;
    grid-column: 1/4;
    padding: #{$base-padding * 3};
    background: linear-gradient(1turn, #4a509c, #8b4db5 70%);
    color: white;
    overflow-y: hidden;
  }
}
