@import '@/scss/_variable.scss';
@import '@/scss/_mixin.scss';

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6);
  width: 100%;
}

.all-exposure-chart-section {
  grid-column: 1/10;
  margin: #{$base-margin};
}

.ind-exposure-chart-section {
  grid-column: 1/10;
  margin: #{$base-margin};
}

.ranking-section {
  grid-row: 1/3;
  grid-column: 10/13;
  margin: #{$base-margin};

  .ranking-group {
    display: grid;
    width: 100%;
    height: max;
    grid-template-rows: repeat(2, 1fr);

    .ranking-list {
      .ranking-body {
        display: grid;
        grid-template-rows: repeat(5, 1fr);

        .ranking-title {
          display: flex;
          margin: 1rem;
          justify-content: space-between;
          // align-items: center;
        }

        .ranking-item {
          font-size: #{$base-fontsize * 0.6};
          margin-bottom: #{$base-margin};

          img {
            width: 10%;
            height: 10%;
            border-radius: 50%;
          }

          a {
            display: flex;
            color: black;
            text-decoration: none;

            div {
              width: 100%;
              margin-left: #{$base-margin};
            }

            p {
              width: 100%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              margin: 0;

              p:first-child {
                font-size: #{$base-fontsize * 0.8};
              }
            }
          }
        }
      }
    }
  }
}

.recommand-channel-section {
  grid-column: 1/7;
  margin: #{$base-margin};

  .card {
    padding: #{$base-padding * 3};
  }
}

.recommand-video-section {
  grid-column: 7/13;
  margin: #{$base-margin};

  .card {
    padding: #{$base-padding * 3};
  }
}
